@{
    ViewData["Title"] = "Contacts";
}

<head>
    <style>
        footer {
            text-align: center;
            color: grey;
            font-size: 8pt;
            font-style: italic;
        }
    </style>
</head>
<body>
    <b>Phone:</b> 060062206
</body>