@model ChangePasswordViewModel

<form asp-controller="Account" asp-action="ChangePassword" method="post">
   <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="CurrentPassword"></label>
    <input asp-for="CurrentPassword">
    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword">
    <span asp-validation-for="NewPassword" class="text-danger"></span>

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword">
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <br>
    <button type="submit">Submit</button>
</form>

<p>
    @ViewBag.PasswordChanged
</p>