@model GridPhotosViewModel

@{
    ViewData["Title"] = "Photo Wall";
}

@section Styles {
    <style>
        .grid-image {
            width: 150px;
            height: 150px;
            background-color: black;
        }

        .under-img-ico {
            width:  15px;
            height: 15px;
        }

        .inline {
            display: inline;
        }

        #detailed-img-viewer {
        }

        .on-top {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0%;
            bottom: 0%;
        }
        
        .background-transparent {
            background-color: rgba(0, 0, 0, 0.9);
        }

        #detailed-img-viewer {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .modal-content {
            background-color: #fefefe;
            border: 1px solid #888;
            top: 20%;
            left: calc(20% + 330px);
            width: calc(100% - 20% - 330px);
        }

        #main-img {
            background-color: black;
            width: 300px;
            height: 300px;
            top: 20%;
            left: 20%;
            position: fixed;
        }

        .x-close-btn {
            position: fixed;
            width: 32px;
            height: 32px;
            top: 10%;
            left: 10%;
        }

        .time-field {
            color: grey;
            font-size: 6pt;
        }
    </style>
}

<!-- Templates -->
@await Html.PartialAsync("_ImgDisplayTemplatePartial")

<!-- Img container -->
<div id="grid-images" class="row"> 
</div>

<!-- Load more Btn with loading text -->
<center>
    <button id="more-imgs-btn" onclick="loadImages(deltaImgsToLoad);">More!</button>
    <p id="loading-img-msg"></p>
</center>

@await Html.PartialAsync("_DetailedImgDispPartial")

@section Scripts {
    <environment include="Development">
        <script src="~/js/LoadImgs.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.js" asp-append-version="true"></script>
        <script src="~/js/DetailedImgViewer.js" asp-append-version="true"></script>
        <script src="~/js/Commenting.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/LoadImgs.min.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.min.js" asp-append-version="true"></script>
        <script src="~/js/DetailedImgViewer.min.js" asp-append-version="true"></script>
        <script src="~/js/Commenting.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        var isAuthenticated = false;
    
        @if(User.Identity.IsAuthenticated) 
        {
            @: isAuthenticated = true;
        }
    
        initPhotoWall();
        loadImages(deltaImgsToLoad);
    </script>
}
