@model GridPhotosViewModel

@{
    ViewData["Title"] = "Photo Wall";
}

@section Styles {
    <link rel="stylesheet" href='/css/PhotoWall.css' />
}

<!-- Templates -->
@await Html.PartialAsync("_ImgDisplayTemplatePartial")

<!-- Img container -->
<div id="grid-images" class="row"> 
</div>

<!-- Load more Btn with loading text -->
<center>
    <button id="more-imgs-btn" onclick="loadImages(deltaImgsToLoad);">More!</button>
    <p id="loading-img-msg"></p>
</center>

@await Html.PartialAsync("_DetailedImgDispPartial")

@section Scripts {
    <environment include="Development">
        <script src="~/js/LoadImgs.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.js" asp-append-version="true"></script>
        <script src="~/js/DetailedImgViewer.js" asp-append-version="true"></script>
        <script src="~/js/Commenting.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/LoadImgs.min.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.min.js" asp-append-version="true"></script>
        <script src="~/js/DetailedImgViewer.min.js" asp-append-version="true"></script>
        <script src="~/js/Commenting.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        var isAuthenticated = false;
    
        @if(User.Identity.IsAuthenticated) 
        {
            @: isAuthenticated = true;
        }
    
        initPhotoWall();
        loadImages(deltaImgsToLoad);
    </script>
}
