@model GridPhotosViewModel

@{
    ViewData["Title"] = "Photo Wall";
}

@section Styles {
<style>
    .grid-image {
        width: 150px;
        height: 150px;
        background-color: black;
    }

    .thumb-up-img {
        width:  15px;
        height: 15px;
        display: inline;
    }

    .likes-count {
        display: inline;
        white-space:nowrap;
    }
</style>
}

<!-- Img display template -->
<template id="grid-image-template">
    <div class="grid-element col-md-2 col-sm-3 col-xs-12">
        <image class="grid-image"></image>
        <div id="likes">
            <image class="thumb-up-img" src="/imgs/thumb-up.png" onclick="imgLike(this);" disabled="true"></image>
            <p class="likes-count">...</p>
        </div>
    </div>
</template>

<!-- Img container -->
<div id="grid-images" class="row"> 
</div>

<center>
    <button id="more-imgs-btn" onclick="loadImages(deltaImgsToLoad);">More!</button>
    <p id="loading-img-msg"></p>
</center>

@section Scripts {
    <environment include="Development">
        <script src="~/js/LoadImgs.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/LoadImgs.min.js" asp-append-version="true"></script>
        <script src="~/js/ContentReact.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        var isAuthenticated = false;
    
        @if(User.Identity.IsAuthenticated) 
        {
            @: isAuthenticated = true;
        }
    
        initPhotoWall();
        loadImages(deltaImgsToLoad);
    </script>
}
